<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dayuanit.dao.MenuDao">

	<select id="listMenus" parameterType="int" resultType="HashMap">
		select id, menu_name as menuName, image_url as imageUrl
		from mall_menu;
	</select>
	
</mapper>